 * {
    border: red 1px dotted;
 }

#directory-container {
   border-color: green;
   display: flex;
   /* margin-left: 20%;
   margin-right: 20%; */
   text-align: center;
   justify-content: center;
}

#directory-text-con {
   display: flex;
   justify-content: space-between;
   padding-left: 30%;
   padding-right: 30%;
   border-color: black;
}

 #dire-text {
   margin-left: 20%;
   margin-right: 20%;
 }